<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Thirsty Goat</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	</head>
	<body>
		<!--navbar Begins-->
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/index">Thirsty Goat</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a href="/index">Home</a></li>
		      <li class="active"><a href="/water_reports">Water Reports</a></li>
		      <li><a href="/historical_reports">Historical Reports</a></li>
		      <li><a href="/admin">Admin</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Edit Profile</a></li>
		      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		    </ul>
		  </div>
		</nav>
		<!--navbar Ends-->

		<!--Water Reports Table Begins-->
		<div class="container-fluid">
			<div class="row">
				
				<div class="col-md-10">
					<h2 style="text-align: center">Water Source Reports</h2>
					<table class="table table-responsive table-striped table-hover ">
						<thead>
							<tr>
								<th>Source Report ID</th>
								<th>Longitude</th>
								<th>Latitude</th>
								<th>Water Type</th>
								<th>Water Condition</th>
								<th>Reported By</th>
								<th>Date Reported</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
						{{#each reports}}
						
							<tr>
								<td>{{this.source_report_id}}</td>
								<td>{{this.longitude}}</td>
								<td>{{this.latitude}}</td>
								<td>{{this.water_type}}</td>
								<td>{{this.water_condition}}</td>
								<td>{{this.user_modified}}</td>
								<td>{{this.date_modified}}</td>
								<td>
		                            <a href="/source_reports/{{this.source_report_id}}/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
		                            <a href="/source_reports/{{this.source_report_id}}/delete" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete</a>
		                        </td>
								
							</tr>
						{{/each}}
						</tbody>
						
					</table>
				</div>
				<div class="col-md-2">
					<h2 style="text-align: center">New Source Report</h2>
					<div>
						<form action="newSourceReport" method="POST" class="form" role="form">
						
							<div class="form-group">
								<label for="longitude">Longitude</label>
								<input type="text" class="form-control" name="longitude" placeholder="Input field">
							</div>
							<div class="form-group">
								<label for="latitude">Latitude</label>
								<input type="text" class="form-control" name="latitude" placeholder="Input field">
							</div>
							<div class="form-group">
								<div class="form-group">
								  <label for="water_type">Water Type</label>
								  <select class="form-control" name="water_type">
								    <option>Bottled</option>
								    <option>Well</option>
								    <option>Stream</option>
								    <option>Lake</option>
								    <option>Spring</option>
								    <option>Other</option>
								  </select>
								</div>
							</div>
							<div class="form-group">
								<div class="form-group">
								  <label for="water_condition">Water Condition</label>
								  <select class="form-control" name="water_condition">
								    <option>Potable</option>
								    <option>Treatable-Clear</option>
								    <option>Treatable-Muddy</option>
								    <option>Waste</option>
								  </select>
								</div>
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10">
					<h2 style="text-align: center">Water Purity Reports</h2>
					<table class="table table-responsive table-striped table-hover ">
						<thead>
							<tr>
								<th>Purity Report ID</th>
								<th>Source Report ID</th>
								<th>Longitude</th>
								<th>Latitude</th>
								<th>Overall Condition</th>
								<th>Virus PPM</th>
								<th>Contaminant PPM</th>
								<th>Reported By</th>
								<th>Date Reported</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
						{{#each purityreports}}
						
							<tr>
								<td>{{this.purity_report_id}}</td>
								<td>{{this.source_report_id}}</td>
								<td>{{this.longitude}}</td>
								<td>{{this.latitude}}</td>
								<td>{{this.overall_condition}}</td>
								<td>{{this.virus_ppm}}</td>
								<td>{{this.contaminant_ppm}}</td>
								<td>{{this.user_modified}}</td>
								<td>{{this.date_modified}}</td>
								<td>
		                            <a href="/purity_reports/{{this.purity_report_id}}/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
		                            <a href="/purity_reports/{{this.purity_report_id}}/delete" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete</a>
		                        </td>
								
							</tr>
						
						{{/each}}
						</tbody>
					</table>
				</div>
				<div class="col-md-2">
					<h2 style="text-align: center">New Purity Report</h2>
					<div>
						<form action="newPurityReport" method="POST" class="form" role="form">
							<div class="form-group">
								<div class="form-group">
								  <label for="source_id">Source Report</label>
								  <select class="form-control" name="source_id">
								    {{#each reports}}
								    <option>{{this.source_report_id}}</option>
								    {{/each}}
								  </select>
								</div>
							</div>
							<div class="form-group">
								<div class="overallcondition-group">
								  <label for="overall_condition">Overall Condition</label>
								  <select class="form-control" name="overall_condition">
								    <option>Safe</option>
								    <option>Treatable</option>
								    <option>Unsafe</option>
								  </select>
								</div>
							</div>
							<div class="form-group">
								<div class="form-group">
								  <label for="virus_ppm">Virus PPM</label>
								  <input type="number" class="form-control" name="virus_ppm"></input>
								</div>
							</div>
							<div class="form-group">
								<div class="form-group">
								  <label for="contaminant_ppm">Contaminant PPM</label>
								  <input type="number" class="form-control" name="contaminant_ppm"></input>
								</div>
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>



		

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
	</body>
</html>